* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* shearing */
main {
    padding: 2rem 15rem;
}

:root {
    --primary-color: #3A3A3A;
    --button-color: #E02C6D;
}

/* header section */
.header {
    margin: 3.5rem 8rem;
}

/* nav section */
.nav-container {
    display: flex;
    justify-content: space-between;
}

.web-name {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
}


.nav-bar li {
    list-style: none;
    display: inline-block;
    height: 2rem;
    padding-left: 1.4rem;
}

.nav-1 {
    text-decoration: none;
    color: var(--primary-color);
    height: 2rem;
    font-size: 1rem;
    font-weight: 600;
}

.nav-1:active,
.nav-1:hover {
    background: #eeecec;
}

.nav-icon {
    width: 1.5rem;
    height: 1.5rem;
}

/* banner section start */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    width: 100%;
}

.banner-content {
    width: 70%;
}

.banner-title {
    color: var(--primary-color);
    font-family: Poppins;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}

.banner-description {
    color: var(--primary-color);
    font-size: 1rem;
    width: 30rem;
    margin: 1.5rem 0rem;
    line-height: 2rem;
    font-weight: 600;
}

.primary-button {
    background-color: var(--button-color);
    display: inline-flex;
    align-items: flex-start;
    border-radius: 40px;
    font-size: 1.1rem;
    padding: .4rem 1.2rem;
    width: 12.5rem;
    border: none;
    color: #fff;
    cursor: pointer;
    gap: .5rem;
}

.banner-photo {
    background-image: url('./images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: 450px 410px;
    background-position: center;
    width: 40%;

}

.main-camera {
    width: 25.6rem;
    height: 25rem;
}

/* sponsors-container */

.sponsors-container {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    border-top: 2px solid rgba(182, 178, 178, 0.125);
    border-bottom: 2px solid rgba(182, 178, 178, 0.125);
}

.sponsors {
    padding: 2rem 0px;
}


/* responsive for small device */

@media screen and (max-width:576px) {

    .header,
    main {
        margin: 20px;
        padding: 0px;
    }

    .nav-container {
        display: block;
    }

    .nav-container,
    .nav-bar,
    .banner-content,
    .banner-description {
        width: 90%;
    }

    .nav-container,
    .nav-bar,
    .banner-content,
    .banner-description {
        margin: 0px auto;
        text-align: center;
    }

    .nav-bar,
    .banner-content {
        margin-top: 1.5rem;
    }

    .nav-bar li {
        padding-left: 1rem;
    }

    .web-name {
        font-size: 1.2rem;

    }

    .banner-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .banner-photo {
        background-size: 83vw 55vh;
        width: 95%;
        height: 60vh;
        margin: 10px auto;
    }

    .main-camera {
        width: 58vw;
        height: 45vh;
        display: flex;
        margin: 3rem auto;
    }

    .banner-content {
        height: 50vh;
    }

    .sponsors-container {
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .sponsors {
        padding: 0px 1rem;
    }


}

@media screen and (min-width:577px) and (max-width:960px) {
    .header {
        margin: 3rem 2.5rem;
    }
}